@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --primary-color: #A65221;
  --secondary-color: #FFE618;
}

h1 {
  color: var(--secondary-color);
  text-transform: uppercase;
  font-size: 10rem;
}

.s-menu__item a {
  color: var(--secondary-color);
  font-weight: bold;
}
/* #A65221 */
/* #BF3E21 */
/* hsla(350, 100%, 36%, 1) */