.navigator {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.navigator::before {
  content: '';
  position: absolute;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: white;
  z-index: 0;
}

.navigator ul {
  z-index: 1;
}

.navigator ul li {
  margin: 60px 0;
}

.navigator ul li:first-child { /* N usou nth pra caso queira botar mais */
  margin-top: 0;
}

.navigator ul li:last-child {
  margin-bottom: 0;
}

.navigator ul li a {
  border: solid 2px white;
  background-color: black;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigator ul li a:hover, .navigator ul li a.active {
  color: var(--secondary-color);
  background-color: black;
}

.navigator .navigator__icon {
  position: absolute;
  top: -20px;
}